body {
    background-image: url("../images/forest-line.jpg");
}
h1 {
    text-align: center;
    /* color: goldenrod; */
    /* color: rgb(218, 165, 32); */
    /* color: rgb(218, 165, 32); */
    /* color: rgb(181, 132, 16); */
    /* color: rgb(88, 62, 1); */
    color: black;
    font-size: 36px;
    font-style: bold;
}
h2 {
    text-align: center;
    color: rgb(161, 206, 150);
    font-size: 27px;
}
li {
    text-align: center;
    color: rgb(193, 226, 207);
    font-size: 24px;
}




/* Form formatting... */
form {
    border: 3px solid #f1f1f1;
    width: 300px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Add padding to containers */
.signin-container {
    padding: 16px;
}

/* color the remember me text to stand out against background */
.signin-remember-me {
    color: whitesmoke;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
} 

/* Signout Button */
.signout-button {
    background-color: #4CAF50;
    color: white;

    padding: 9px 12px;
    margin-top: 144px;
    border: none;
    
    border-radius: 3px;
    cursor: pointer;
    width: 99px;

    outline: 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect for buttons */
signout-button:hover {
    opacity: 0.8;
}