<h2>Please Sign In!</h2>

<div align="center">

  <form action="timeline">

    <div class="signin-container">
      <label for="uname" ><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
      <label class="signin-remember-me">Remember me</label>
      <input 
        type="checkbox" 
        checked="checked" 
        name="remember" 
        class="signin-remember-me-checkbox"
      >

    </div>

    <div class="signin-container-bottom" >
      <a class="cancelbtn" href="http://www.forestgoer.org" >Cancel</a>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>

  </form> 

</div>