{{hours-list title="Your hours in the forest" hours=model}}


<div align="center">

    {{!-- <button type="button" class="signout-button">Sign out</button> --}}

    <a href="http://www.forestgoer.org" class="signout-button">Sign out</a>
</div>